/*Main Screens */
.Lobby,
.StartGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.Game {
  padding-top: 1rem;
  padding-left: calc(30% - 190px);
  padding-right: calc(30% - 190px);
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}
/* Main Screens */

/* Components */
.TimerInput{
  margin-right: 1rem;
  font-size: .75rem;
  display: inline;
  font-weight: bold;
  width: 5rem;
}
/* Components */

/* Buttons Start*/
.NicknameButton,
.PhraseButton {
  color: rgb(106, 122, 129);
}

.NicknameButton:focus, .NicknameButton:active, .NicknameButton:hover,
.PhraseButton:focus, .PhraseButton:active, .PhraseButton:hover {
  outline: none !important;
  box-shadow: none;
  background: transparent;
  color: rgb(106, 122, 129);
}

.SideBySideButton {
  margin: 1rem;
  margin-bottom: 0;
}
/* Buttons End */

/* Font Awesome Icons */
.PlayerPicked {
  color:rgb(15, 132, 228);
}

.Warning {
  color: tomato;
}
/* Font Awesome Icons */


/* Misc */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* Misc */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
